.hero {
  height:600px;
  width: 100%;
  position: relative;
  background-size: cover;
  background-image: url("./art-3.png");
  background-position: center;
}

.heroContent {
  position: absolute;
  bottom: 1rem;
  left:1rem;
  padding:1rem;
}

.heroContent h1 {
  text-transform: uppercase;
}

.heroContent p + p {
  padding-top: 0;
}

button {
  display: inline-block;
}

.content {
  padding: 1rem 2rem;
}

.content h1 {
  margin-bottom: 0;
  padding-bottom: 0;
}

