/* Default styling for .hero */
.hero {
  height: 550px;
  width: 100%;
  position: relative;
  background-size: cover;
  background-position: 65% center;
}

/* Media query for screens smaller than 700px */
@media (max-width: 849px) {
  .hero {
    height: 450px; /* Set height to 350px for screens smaller than 700px */
  }
}

.heroContent {
  position: absolute;
  bottom:0;
  left:0;
  right:0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.heroContent h1 {
  font-size:4rem;
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
  text-transform: uppercase;
  margin-top:0;
  margin-bottom: 0rem;
}

.content {
  position: relative;
  padding: 1rem 2rem;
  max-width: 800px;
  margin:0 auto;
}

.content h1 {
  margin-bottom: 0;
  padding-bottom: 0;
}

button {
  display: inline-block;
}

.error {
  border:1px solid #32a0d3e0;
  background:#18495fe0;
  padding:0.5rem;
  border-radius: 5px;
}