.characterGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

.characterPreview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
  border: 1px solid #23d2b7;
  box-sizing: border-box;
  border-radius:5px 5px 0px 0px;
  position: relative;
}

.characterPreview:hover {
  border: 1px solid #1ae0c1;
}

.playButton {
  position: absolute;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  text-align: center;
  border-left:none;
  border-right:none;
  border-bottom: none;
  border-radius: 0;
}

@media (min-width: 1200px) {
  .characterGrid {
      grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 700px) and (max-width: 1199px) {
  .characterGrid {
      grid-template-columns: repeat(2, 1fr);
  }
}
