.characterGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

.characterPreview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  box-sizing: border-box;
  border-radius:5px 5px 0px 0px;
  position: relative;
  border: 1px solid #2bab97;

}

.buttonContainer {
  position: absolute;
  left:0;
  right:0;
  bottom:0;
  z-index: 999;
  background: #7cffeb3e;
  padding:1rem;
}

.playButton {
  position: absolute;
  top:-0.5rem;
  right:0.5rem;
}

@media (min-width: 1600px) {
  .characterGrid {
      grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 700px) and (max-width: 1599px) {
  .characterGrid {
      grid-template-columns: repeat(2, 1fr);
  }
}

.colonistId {
  font-size:0.75rem;
}